@media only screen and (max-width: 1000px){
#p1 {
    font-size: 20px;
}
}
@media only screen and (max-width: 920px){
#p1 {
    font-size: 18px;
}
}
@media only screen and (max-width: 870px){
.left {
    display: none;
}.center {
    width: 78%;
}.right {
    border-left:inherit;
	position:absolute;
	right:0px;
}
}
@media only screen and (max-width: 680px){
p img {
    width: 16px;
}#p1 {
    font-size: 13px;
}.center {
    width: 100%;
}
}
@media only screen and (max-width: 500px){
.view_more {
    padding: 0.2rem 1rem;
    font-size: 10px;
    top: 12px;
}
}