section
{
	width:100%;
	height:3070px;	
}
.section_top
{
	position:fixed;
	width:100%;
	height:85%;
	z-index:999;  }
.backgund_silder_uper
{
	transition-duration:1s;
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;
}
.background_slider_main
{
	position:absolute;
	width:400%;
	height:100%;
	transition-duration:1s;	
}
.slider
{
	position:relative;
	width:24.9%;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	display:inline-block;
}
.slider_1
{
	background-image:url(../images/ground/Oval_1.jpg);	
}
.slider_2
{
	background-image:url(../images/ground/Cardiff_2.jpg);	
}
.slider_3
{
	background-image:url(../images/ground/Edgbaston_4.jpg);	
}
.slider_4
{
	background-image:url(../images/ground/4760583e619de73892e5af66eeb1ca0b.jpg);	
}
.section_top_main
{
	position:relative;
	width:100%;
	height:100%;
	background-color:rgba(0,16,54,.65);	
}
.top_team
{
	position:absolute;
	width:30%;
	height:50%;
	
}
.top_team_1
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81% 99%;
    transform-origin: center;
    transform: rotateY(180deg);
	bottom:0px;
	left:15%;	
}
.top_team_2
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 81% 99%;
    transform-origin: center;
	bottom:0px;
	right:15%;	
}
.pak_cap
{
	background-image:url(../images/team/pak.png)	
}
.ind_cap
{
	background-image:url(../images/team/ind.png)	
}
.ban_cap
{
	background-image:url(../images/team/ban.png)	
}
.nez_cap
{
	background-image:url(../images/team/nez.png)	
}
.aus_cap
{
	background-image:url(../images/team/aus.png)	
}
.eng_cap
{
	background-image:url(../images/team/eng.png)	
}
.sut_cap
{
	background-image:url(../images/team/sut.png)	
}
.sri_cap
{
	background-image:url(../images/team/sri.png)	
}
.team_name
{
	position:absolute;
    width: 200px;
	height:100%;
    font-size: 60px;
    text-align: center;
    color: #fff;
}
.team_name_1
{
	top:10px;
	left:26%;	
}
.team_name_2
{
	top:10px;
	right:26%;	
}
.team_vs {
    position: absolute;
    width: 24%;
    height: 100%;
    color: #fff;
    left: 39%;
    font-family: vs;
    font-size: 100px;
    text-align: center;
    margin-top: 27%;
}
.top_team_name_top
{
	position:relative;
	width:100%;
    height: 185px;
}
.pak_team_top {
    background-image: url(../images/flag/PAK.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
}
.pak_team_under
{
	position:relative;
    width: 90px;
    height: 90px;
    background-image: url(../images/flag/PAK%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
    margin-left: 58px;
    margin-top: 10px;
	animation-name:pak;
	animation-iteration-count:infinite;
	animation-duration:10s;
}
@keyframes pak
{
	0%{
		transform:rotateY(0deg);	
	}
	50%
	{
		transform:rotateY(180deg);	
	}
	100%
	{
		transform:rotateY(360deg);	
	}
}
.ind_team_top
{
	background-image:url(../images/flag/IND.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
	animation-name:ind;
	animation-iteration-count:infinite;
	animation-duration:10s;
}
@keyframes ind
{
	0%{
		transform:rotate(0deg);	
	}
	50%
	{
		transform:rotate(180deg);	
	}
	100%
	{
		transform:rotate(360deg);	
	}
}
.aus_team_top
{
	background-image:url(../images/flag/AUS.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
}
.aus_team_under
{

	position:relative;
    width: 100px;
    height: 115px;
    background-image: url(../images/flag/AUS%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
    margin-left: 58px;
    margin-top: 10px;
	animation-name:pak;
	animation-iteration-count:infinite;
	animation-duration:10s;
}
.ban_team_top
{
	background-image:url(../images/flag/BAN.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
}
.ban_team_under
{
    position: relative;
    width: 127px;
    height: 138px;
    background-image: url(../images/flag/BAN%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
    margin-left: 39px;
    margin-top: 10px;
    animation-name: pak; 
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.eng_team_top {
    background-image: url(../images/flag/ENG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 45% 100%;
    animation-name: pak;
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.sa_team_top
{
	background-image:url(../images/flag/SA.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
}
.sa_team_under
{
    position: relative;
    width: 127px;
    height: 120px;
    background-image: url(../images/flag/SA%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
    margin-left: 39px;
    margin-top: 10px;
    animation-name: pak; 
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.sl_team_top
{
	background-image:url(../images/flag/SL.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
}
.sl_team_under
{
    position: relative;
    width: 127px;
    height: 100px;
    background-image: url(../images/flag/SL%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89% 100%;
    margin-left: 39px;
    margin-top: 10px;
    animation-name: pak; 
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.nz_team_top
{
	background-image:url(../images/flag/NZ.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 86% 55%;
    animation-name: pak; 
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
.move_in_left
{
	animation-name:left;
	animation-duration:.5s;
	animation-timing-function:ease-in-out;	
	
}
@keyframes left
{
	0%{
		left:-20%;	
	}
	75%
	{
		left:25%;
	}
	100%{
		left:15%;
	}
}
.move_in_right
{
	animation-name:right;
	animation-duration:.5s;
	animation-timing-function:ease-in-out;	
}
@keyframes right
{
	0%{
		right:-20%;	
	}
	75%
	{
		right:25%;
	}
	100%
	{
		right: 15%;	
	}
}


















.top_teams_detils {
    position: absolute;
    width: 260px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.56);
    left: 40.5%;
    top: -3%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.trophy {
    position: relative;
    width: 20%;
    height: 65%;
    background-image: url(../images/ICC-Champions-Trophy%20copy.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    top: 15%;
}
.top_match_details_timing
{
    position: relative;
    width: 80%;
    height: 100%;
    margin-top: -37%;
    margin-left: 20%;
}
.day1,.hour1,.min1
{
    display: inline;
    position: relative;
    width: 10%;
    height: 10%;
    color: #fff;
    margin-left: 15px;
    text-transform: uppercase;
}
.day,.hour,.min
{
    display: inline;
    position: relative;
    width: 10%;
    height: 10%;
    color: #fff;
    text-transform: uppercase;
}
.day
{
   margin-left: 22px;
}
.hour
{
   margin-left: 38px;
}
.min
{
   margin-left: 63px;
}
.top_match_details_ground
{
	position:relative;
	text-align:center;
	width:100%;
    margin-top: 26px;
	color:#fff;
}
/* section_bottom 																/*/
.section_bottom
{
	width:100%;
	height:100%;
	position:fixed;
	top:14.7%;
}
.match_main
{
	position:relative;
	width:100%;
	height:85px;
	background-color:#03060d;
    box-shadow: 4px 4px 4px 1px rgba(0,0,0,.5);	
	overflow:hidden;
	
}
.match_main_full
{
	position:absolute;
	width:2698px;
	height:100%;	
	transition-duration:1s;
}
.match {
    position: relative;
    width: 8%;
    height: 80%;
    background-color: #060;
    top: 10%;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;
	cursor:pointer;
}
.match_top
{
	position:absolute;
	width:100%;
	height:40%;
	top:0px;
	background-color:#162038;	
}
.match_bottom
{
	position:absolute;
	width:100%;
	height:60%;
	bottom:0px;
	background-color:#192852;	
}
.match_top_left,.match_bottom_left
{
	position:absolute;
	width:50%;
	height:100%;
    text-transform: capitalize;
    padding-left: 20px;
	color:#797d83;
}
.match_top_right,.match_bottom_right
{
	color:#797d83;
	position:absolute;
	width:50%;
	right:0px;
	height:100%;
    text-transform: capitalize;
    padding-right: 20px;
	text-align:right;
}
.match_bottom_left_img,.match_bottom_right_img
{
    width: 26px;
    height: 20px;
}
.match_bottom_left_img
{
  margin-right:7px;
}
.match_bottom_right_img
{
  margin-left:7px;
}
.match_bottom_right,.match_bottom_left
{
	top:10px;
	color:#ccc;	
}
.match_bottom_center {
    position: absolute;
    left: 45%;
    top: 9%;
    font-size: 22px;
    color: #ccc;
}
.left_match, .right_match {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 10;
    background-color: #0f84bd;
    top: 20px;
	animation-iteration-count:infinite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
	cursor:pointer;
}
.left_match
{
	left:20px;
	background-image:url(../images/Back_48px_2.png);
}
.right_match
{
	right:20px;
	background-image:url(../images/Back_48px_2%20copy.png);
}
/* live_score_header_main */
.live_score_header_main {
    position: relative;
    width: 100%;
    height: 200px;
	margin-top:10px;
}
.live_score_header
{
	position:absolute;
	width:100%;
	height:100%;	
}
.live_score_header_team_1
{
	position:absolute;
	width:35%;
	height:100%;
	left:0%;	
}
.live_score_header_team_2
{
	right:0%;
	position:absolute;
	width:35%;
	height:100%;
}
.live_score_header_score
{
	left:36%;
	position:absolute;
	width:28%;
	height:100%;
	background-color:#172650;    
	box-shadow: 1px 4px 8px 2px rgba(0,0,0,.6);

}
.player_1_main
{
    position: relative;
    width: 49%;
    height: 75%;
    display: inline-block;
    top: 25%;
}
.player
{
	position:absolute;
	width:60%;
	height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 111% 100%;
}
.player_1,.player_score_2
{
	right:0%;
}
.player_2
{
	left:0%;
}
.player_1
{
	right:0%;
	background-image:url(../images/player/pak/979.png);
}.player_2 {
    left: 0%;
    background-image: url(../images/player/pak/2759.png);
    transform: rotateY(180deg);
}
.player_score_1, .player_score_2 {
    position: absolute;
    width: 40%;
    height: 35%;
    background-color: #172650;
    bottom: 35%;
    text-align: center;
    font-size: 29px;
    color: #fff;
    box-shadow: 1px 4px 8px 2px rgba(0,0,0,.6);
}
.player_score_1
{
	left:2%;	
}
.live_score_header_team_2_top
{
	position:absolute;
	width:100%;
	height:40%;
	top:0%;
	left:0%;	
}
.ball {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: rgba(23, 38, 80, 0.67);
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    border: 3px solid #FFF;
    box-shadow: 1px 4px 8px 2px rgba(0,0,0,.6);
}.ball_inner
{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 17px;
    text-align: center;
    line-height: 2.5;	
}
.live_score_header_team_2_bottom_player {
    position: absolute;
    width: 30%;
    height: 75%;
    right: 10px;
    bottom: 0px;
	background-image:url(../images/player/ind/59.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
.live_score_header_team_2_bottom_ball {
    position: absolute;
    width: 30%;
    height: 25%;
    text-align: center;
    font-size: 29px;
    color: #fff;
    box-shadow: 1px 4px 8px 2px rgba(0,0,0,.6);
    background-color: #172650;
    bottom: 15%;
    left: 20%;
}
.live_score_header_score_top
{
	position:relative;
	width:100%;
	height:50%;
}
.live_score_header_score_top_team_1 {
    position: relative;
    background-image: url(../images/flag/PAK.png);
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    left: 10%;
}
.live_score_header_score_top_team_1_under {
    position: absolute;
    background-image: url(../images/flag/PAK%20copy.png);
    width: 50%;
    height: 50%;
    background-size: 100% 100%;
    left: 25%;
    top: 8%;
	animation-name:pak;
	animation-duration:2s;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
}
.live_score_header_score_top_team_2
{
    position: absolute;
    background-image: url(../images/flag/IND.png);
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    right: 10%;
	top:0%;
	animation-name:ind;
	animation-duration:10s;
	animation-timing-function:ease-in-out;
	animation-iteration-count:infinite;
}
.live_score_header_score_top_vs {
    font-family: vs;
    position: absolute;
    left: 47%;
    font-size: 24px;
    top: 40%;
    color: #fff;
}
.live_score_header_score_bottom{
    position: relative;
    color: #fff;
    text-align: center;
    line-height: 3;
    font-size: 36px;
}
.sction_bottom_other
{
	position:relative;
	width:100%;
}
.secotion_bottom_left
{
	position:relative;
	width:70%;
	height:100%;
	float:left;
}
.secotion_bottom_right
{
	position:relative;
	width:28%;
	height:100%;
	float:right;	
    margin-right: 12px;
	border-left:1px solid #ccc;
	
}
.news_main {
    position: relative;
    width: 98%;
    height: 560px;
    padding: 10px;
    border-bottom: 1px solid #ccc
}
.news_top {
    position: absolute;
    width: 96%;
    height: 45%;
    top: 3%;
}
.news_bottom {
    position: absolute;
    width: 96%;
    height: 48%;
    bottom: 2%;
}
.news_top_left
{
	position:absolute;
	width:75%;
	height:100%;
	left:0%;	
}
.news_top_right
{
	position:absolute;
	width:25%;
	height:100%;
	right:0%;	
}
.news_top_right:hover .news_top_right_bottom .b
{
	text-decoration:underline;
}
.news_top_left_left
{
	position:absolute;
	width:65%;
	height:100%;
	background-image:url(../images/news/Ben-Stokes.jpg);
	background-position:center;
	background-size:100% 100%;
	left:0%;
}
.news_top_left_right
{
	position:absolute;
	width:35%;
	height:100%;
	background-color:#172650;
	background-image:url(../images/ct-hero-news-bg.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
	right:0%;
}
.news_top_left_right .a img
{
	width:10px;	
    margin-top: 20px;
    margin-left: 20px;
}
.news_top_left_right .a .aa
{

    margin-left: 7px;
    font-size: 12px;
    color: #fff;
}
.news_top_left_right .b {
    font-size: 20px;
    padding: 8px;
    width: 89%;
    height: 20%;
    text-align: left;
    line-height: 1.5;
    color: #fff;
    margin-left: 15px;
}
.news_top_left_right .b:hover
{
	text-decoration:underline;
	cursor:pointer;	
}
.news_top_left_right .c
{
    padding: 23px;
    font-size: 12px;
    text-align: justify;
    margin-top: 11px;
	color:#ccc;
}
.news_top_right_top
{
	position:absolute;
    width: 100%;
    height: 50%;
    background-image: url(../images/news/Mahmudullah.jpg);
    background-size: 92% 100%;
    background-repeat: no-repeat;
    background-position: 70% 100%;
}
.news_top_right_bottom
{
	position:absolute;
    width: 97%;
    height: 50%;
    bottom: 0px;
    right: 0px;
}
.news_top_right_bottom img
{

    width: 10px;
    margin-top: 20px;
    margin-left: 20px;	
}
.news_top_right_bottom .a
{
	width:100%;
}
.news_top_right_bottom .aa
{
    margin-left: 7px;
    font-size: 12px;
    color: #172853;
}
.news_top_right_bottom .b
{
    font-size: 14px;
    padding: 8px;
    width: 89%;
    height: 20%;
    text-align: left;
    line-height: 1.5;
    color: #172853;
    margin-left: 15px;
}
.news_bottom_right
{
	position:relative;
	width:25%;
	height:100%;
	display:inline-block;	
	cursor:pointer;
}
.news_bottom_right:hover .news_top_right_bottom .b
{
	text-decoration:underline;
}
.videos_main{
    position: relative;
    width: 98%;
    height: 560px;
	border-bottom: 1px solid #ccc;
}
.videos_top
{
	position:absolute;
	width:100%;
	height:80px;
	top:0px;	
}
.videos_p
{
    font-size: 25px;
    line-height: 1;
    font-weight: 700;
    padding-top: 31px;
    margin-left: 25px;
	color:rgb(0, 16, 54);
}
.view_more
{
	cursor:pointer;
    line-height: 1.2;
    display: inline-block;
    color: rgb(0, 16, 54);
    font-weight: 600;
    text-align: center;
    position: relative;
    padding: 1.2rem 2rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 233, 240);
    border-image: initial;
    text-decoration: none;
    transition: 0.2s;
    background: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    top: 13px;
}
.view_more:hover
{
	background-color:rgb(0, 16, 54);
	border-color:rgb(0, 16, 54);
	color:#fff;
}
.videos_middle
{
	position:absolute;
	width:100%;
	height:	249px;
    top: 80px;
    padding-left: 10px;
}
.video_1
{
	position:relative;
	width:25%;
	height:100%;
	display:inline-block;
	cursor:pointer;
}
.video_1:hover .video_other_bottom
{
	text-decoration:underline;	
}
.video_1 .img
{
	width:95%;
	height:50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 70% 100%;
}
.video_other
{
	position:absolute;
	width:100%;
	height:50%;
	bottom:0px;	
}
.video_other_top
{
	position:relative;
	width:100%;
	height:25px;
}
.video_other_top samp
{
    font-size: 13px;
    padding: 5px;
    border-right: 1px solid rgba(204, 204, 204, 0.67);
    color: #172751;	
}
.video_other_top .aa
{
    border: 0px;
    margin-left: 9px;
    color: rgb(8, 122, 192);
}
.video_other_top img
{
    float: left;
    width: 27px;
    margin-left: 2.5%;
}
.video_other_bottom
{

    text-align: left;
    margin-top: -2px;
    padding: 15px;
    color: #172751;
    font-weight: 100;	
}
.videos_bottom
{
    position: absolute;
    width: 100%;
    height: 249px;
    bottom: 0px;
    padding-left: 10px;
}
.status_main
{
	height:477px;	
    position: relative;
    width: 98%;
	border-bottom:1px solid #ccc;
}
.status_bottom
{
	position:relative;
	width:100%;
    height: 390px;
}
.player_11
{
    position: relative;
    width: 30%;
    height: 90%;
    top: 5%;
    display: inline-block;
    margin-left: 2%;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 6px 1px rgba(0,0,0,.2);
}
.player_top
{
	position:absolute;
	width:90%;
	height:50px;
	padding-left: 5%;	
}
.player_top img{
    float: left;
    margin-top: 10px;
}
.player_top samp
{

    line-height: 3.5;
	color:#001036;	
}
.player_top .share
{
   position: absolute;
    width: 45px;
    height: 33px;
    background-image: url(../images/Share_52px.png);
    background-size: 50% 54%;
    top: 8px;
    right: 8px;
    background-repeat: no-repeat;
    background-position: 45% 40%;
}
.player_img
{
	position:absolute;
	width:100%;
	height:150px;
	top:50px;	
	background-color:#172751;
    background-image:url(../images/ct-swirl.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.player_img_under
{
	background-image:url(../images/1st.png);
	position:absolute;
	width:100%;
	height:100%;	
}
.player_img img
{
	width: 138px;
    position: absolute;
    margin-left: 120px;
    margin-top: 12px;	
}
.player_img  .name{
    position: absolute;
    top: 38px;
    left: 11px;
    font-size: 14px;
    color: #fff;
}
.player_img .country
{

    position: absolute;
    font-size: 15px;
    top: 63px;
    left: 14px;
    color: #ccc;
}
.player_img .flage
{
	width: 23px;
    margin: inherit;
    position: static;
    margin-right: 13px;
}
.score_name
{
    position: absolute;
    bottom: 18px;
    left: 22px;
    color: #1192d1;
    font-size: 35px;	
}
.player_other
{

    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 50px;}
.play_1
{
	position:relative;
	width:100%;
	height:50%;
    border: 1px solid #ccc;
	color:#172751;
}
.num
{
    position: absolute;
    width: 20px;
    height: 100%;
    left: 10px;	
    font-size: 13px;
    line-height: 3;
}
.nam
{
    position: absolute;
    height: 100%;
    left: 30px;	
    font-size: 13px;
    line-height: 3;
}
.flg_con img
{

    width: 33px;
    position: absolute;
    right: 80px;
    top: 11px;	
}
.con_nam
{
	position: absolute;
    right: 45px;	
    font-size: 13px;
    line-height: 3;
}
.sco
{

    color: #1192d1;
    right: 10px;
    position: absolute;	
    font-size: 13px;
    line-height: 3;
}
.player_full {
    position: absolute;
    width: 89%;
    height: 36px;
    bottom: 5px;
    left: 4.5%;
    color: #172751;
    text-align: center;
    line-height: 3;
    text-transform: capitalize;
    border: 1px solid #ccc;
	transition-duration:1s;
	cursor:pointer;
    font-size: 13px;
}
.player_full:hover
{
	background-color:#172751;
	color:#ccc;
}
.images_main
{
	position:relative;
	width:100%;
	height:750px;
}
.images_bottom
{
	position:absolute;
	width:100%;
    height: 85%;
    bottom: 0px;
}
.images_bottom_top
{
	position:absolute;
	width:95%;
	height:75%;
	background-image:url(../images/img/GettyImages-695840998.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;;
    left: 2.5%;
    transition: 1s;
}
.images_bottom_top_left{
    width: 50px;
    height: 100px;
    transform: rotate(180deg);
    position: absolute;
	background-image:url(../images/Back_48px_2%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(17,146,209,.8);
    top: 37%;
    left: 0px;
	transition-duration:.3s;
	cursor:pointer;
}
.images_bottom_top_right{
    width: 50px;
    height: 100px;
	background-image:url(../images/Back_48px_2%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 37%;
    background-color: rgba(17,146,209,.8);
    right: 0px;
	transition-duration:.3s;
	cursor:pointer;
}
.images_bottom_top_right:hover
{
    background-color: rgba(17,146,209,1);
}
.images_bottom_top_left:hover
{
    background-color: rgba(17,146,209,1);
}.images_bottom_top_full,.images_bottom_top_cross
{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2%;
    top: 0px;	
	background-image:url(../images/Expand_64px.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
	transition-duration:.3s;
	cursor:pointer;
}
.images_bottom_top_cross
{
	background-image:url(../images/Delete_50px.png);
	display:none;
    background-color: rgba(17,146,209,.4);
	}
.images_bottom_top_full:hover,.images_bottom_top_cross:hover
{
    background-color: rgba(17,146,209,.8);
	
}
.images_bottom_bottom
{
    position: absolute;
    width: 95%;
    height: 21%;
    background-color:#172650;
    bottom: 0px;;
    left: 2.5%;
	background-image:url(../images/ct-header@x2.jpg);
}
.images_bottom_bottom_left
{

    position: relative;
    width: 25%;
    height: 70%;
    padding-top: 5%;
    padding-left: 5%;
    text-align: center;
    padding-right: 5%;
	color:#fff;
    float: left;
}
.images_bottom_bottom_right
{

    position: relative;
    width: 60%;
    right: 2.5%;
    height: 80%;
    float: right;
    top: 10%;
	overflow:hidden;
}
.images_bottom_bottom_right_left
{
    width: 20px;
    height: 40px;
    background-color: rgba(17,146,209,1);
    position: absolute;
    top: 38%;
    left: 35.5%;
	background-image:url(../images/Back_48px_2%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 113% 54%;
    transition-duration: .3s;
	transform:rotate(180deg);
	cursor:pointer;
}
.images_bottom_bottom_right_right
{
    width: 20px;
	cursor:pointer;
    height: 40px;
    background-color: rgba(17,146,209,1);
    position: absolute;
    top: 38%;
    right:0px;	
	background-image:url(../images/Back_48px_2%20copy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 113% 54%;
    transition-duration: .3s;
}
.images_1 {
    position: relative;
    width: 150px;
    height: 83px;
    margin-left: 5px;
    display: inline-block;
    margin-top: 24px;
	border:2px solid rgba(17,146,209,0);	
}
.images_1:hover
{
	border:2px solid rgba(17,146,209,1);		
}
.images_1_hover
{
	border:2px solid rgba(17,146,209,1);			
}
.images_1_main{
	position:absolute;
	width:1668px;
	height:100%;	
	transition-duration:1s;
}
.images_1 img
{

    width: 150px;
    height: 83px;	
}
.img_1
{
	background-image:url(../images/img/GettyImages-695840998.jpg);	
}
.img_2
{
	background-image:url(../images/img/GettyImages-695872478.jpg);	
}
.img_3
{
	background-image:url(../images/img/GettyImages-695875264.jpg);	
}
.img_4
{
	background-image:url(../images/img/GettyImages-695898952.jpg);	
}
.img_5
{
	background-image:url(../images/img/GettyImages-695931098.jpg);	
}
.img_6
{
	background-image:url(../images/img/GettyImages-695933056.jpg);	
}
.img_7
{
	background-image:url(../images/img/GettyImages-695938370.jpg);	
}
.img_8
{
	background-image:url(../images/img/GettyImages-695965480.jpg);	
}
.img_9
{
	background-image:url(../images/img/Pakistan.jpg);	
}
.img_10
{
	background-image:url(../images/img/GettyImages-695965848.jpg);	
}.images_bottom_top_1 {
    position: fixed;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0%; 
    transition: 1s; 
    top: 0px;
    z-index: 10;
}
.more_images_main
{
    position: relative;
    width: 100%;
    height: 269px;
}
.more_images_main .videos_bottom .video_1 .video_other_top img
{
	
	
    width: 20px;
    margin-top: 6px;
}
.more_images_main .videos_bottom .video_1 .video_other_top samp
{
	
    border-right: 0px;
    line-height: 3.5;
    font-size: 10px;
}.more_images_main .videos_bottom .video_1 .video_other_bottom
{
	
    font-size: 14px;
}
.img_hover_more {
    position: absolute;
    background-image: url(../images/Camera_52px.png);
    width: 95%;
    height: 50%;
    background-size: 30% 53%;
    background-repeat: no-repeat;
    background-position: center;
    top: 0px;
}
.black_screen
{
	position:absolute;
	width:100%;
	height:91%;
	z-index:1000;
	top:0px;
	transition-duration:.5s;	
}
footer{

    margin-top: 42%;	
}
.section_top_1
{
	height:500px;
	position:relative;	
}
.standing_main
{
	position:relative;
	width:95%;
	height:400px;
    left: 2.5%;    
	border: 1px solid #ccc;
    margin-top: 14px;	
}
.top_standing
{
    position: relative;
    width: 96%;
    height: 37px;
    padding-left: 4%;
    line-height: 2;
	color:#fff;
	border-top:6px solid #172650;
    color: #172650;
}
.bottom_standing
{
    position: relative;
    width: 95%;
	left:2.5%;
    height: 363px;
}
.group_a,.group_b
{
	position:relative;
    border: 1px solid #ccc;
	width:95%;
	left:2.5%;
	height:	47%;
}
.group_name_main
{
	position:relative;
	width:100%;
	height:20px;
    background-color: #172650;
}
.group_name
{

    width: 75px;
    border-radius: 20px;
    font-size: 12px;
    height: 100%;
    text-align: center;
    line-height: 2;	
	color:#fff;
}
.group_1
{
	position:relative;
	width:100%;
	height:18%;
}
.pos
{
	position:relative;
	width:10%;
	display:inline-block;
	height:100%;	
    font-size: 11px;
    text-align: center;
}
.pos_name
{    width: 52%;
    line-height: 2;
    text-align: left;
}
.pos_name img
{
	width:20px;
	height:15px;
	margin-right:5px;	
}
.icc_social_media
{
	height:2075px;	
	border:0px;
	position:relative;
	width:95%;
    left: 2.5%;    
    margin-top: 14px;
}
.icc_main
{
	position: relative;
    width: 95%;
    height: 400px;
    left: 2.5%;
	border:1px solid #ccc;
	border-top: 6px solid #5ea9dd;
	margin-top:20px;
	cursor:pointer;
	transition-duration:1s;
}
.top_icc
{
    position: relative;
    width: 90%;
    height: 20%;
    left: 5%;
}
.img_icc
{
	position: relative;
    width: 25%;
    height: 100%;
    background-image: url(../images/Rjw4RCp7_normal.png);
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    float: left;
}
.icc_name
{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;
    line-height: 4;
    padding-left: 7px;
    font-size: 19px;
}
.twi_img
{
    position: absolute;
    width: 13%;
    height:44%;
    background-image: url(../images/Twitter_logo_blue%20copy.png);
    float: left;
    right: 0px;
    background-repeat: no-repeat;
    background-size: 40% 40%;
    background-position: center;
    background-color: #5ea9dd;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
	transition-duration:1s;
}
.icc_img img
{
    width: 95%;
    margin-left: 2.5%;	
	height:204px;
}
.icc_dec
{
	position: relative;
    width: 90%;
    height: 20%;
    background-color: #fff;
    left: 5%;
    padding-top: 6%;
    text-align: center;
	color:#6f6c6c;
	transition-duration:1s;
}
.schare
{
	position:absolute;
	width:100%;
	height:15%;
	bottom:0px;
	border-top:1px solid #ccc;
	transition-duration:1s;
}
.schare_img_1
{
    position: relative;
    width: 15%;
    height: 80%;
    display: inline-block;
    top: 10%;
    left: 2%;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
	transition-duration:.5s;
	cursor:pointer;
}
.share_1
{
	background-image:url(../images/Share_64px.png);	
}
.share_1:hover
{
	background-image:url(../images/Share_64px_1.png);	
}
.share_2
{
	background-image:url(../images/Retweet_64px.png);	
}
.share_2:hover
{
	background-image:url(../images/Retweet_48px.png);	
}
.share_3
{
	background-image:url(../images/Hearts_50px.png);	
}
.share_3:hover
{
	background-image:url(../images/Hearts_50px_1.png);	
}.hover
{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.8);
	top:0px;
	z-index:2000;	
}
.co1
{

    position: absolute;
    width: 85%;
	left:7.5%;
    height: 100%;	
}.block {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
}
.over
{
	position:absolute;
	width:100%;
	height:100%;	
}