section{
	position:relative;
	width:100%;
	height:1000px;	
    padding-top: 138px;
    padding-bottom: 30px;
}
.section_bottom_left
{
    position: relative;
    width: 25%;
    height: 71%;
    border-right: 1px solid #ccc;
	float:left;
}
.section_bottom
{
	position:absolute;
	width:100%;
	height:100%;	
}
.sec_main
{
	position:relative;
	width:100%;	
	height:40px;
	transition-duration:.5s;
	cursor:pointer;
}
.sec_main_1,.sec_main_11
{
	position:relative;
	width:100%;	
	height:40px;
	transition-duration:.5s;
	cursor:pointer;	
}
.sec_dec
{
    position: relative;
    height: 100%;
    float: left;
    padding-left: 11px;
	color:#172650;
    line-height: 2.5;
	transition-duration:.5s;
    font-size: 14px;
}
.sec_img
{
      position: relative;
    width: 15%;
    height: 100%;
    background-image: url(../images/s.png);
    float: right;
    background-position: 39% 35%;
    background-size: 30% 30%;
	transition-duration:.5s;
    background-repeat: no-repeat;
}
.sec_main:hover
{
	background-color:#172650;
}
.sec_main:hover .sec_dec
{
	color:#fff;
}
.sec_main:hover .sec_img
{
    background-image: url(../images/Back_48px_2%20copy.png);   
	 background-position: 57% 35%;
}
.sec_main_active
{
	background-color:#172650;
}
.sec_dec_active
{
	color:#fff;
}
.sec_img_active
{
    background-image: url(../images/Back_48px_2%20copy.png);   
	 background-position: 57% 35%;
}
.section_bottom_right
{
	position:relative;
	width:74%;
	height:100%;
	float:right;	
}
.top_sec
{
	position:relative;
	width:100%;
	height:62px;	
}
.heading
{
    position: absolute;
    line-height: 3;
    font-size: 25px;	
}
.filert,.filert1
{
    position: absolute;
    width: 150px;
    height: 100%;
    right: 5px;	
    border: 1px solid #ccc;
	cursor:pointer;
}
.filert:hover ,.filert1:hover
{
    border-bottom: 5px solid #087ac0;	
}
.filter_left
{
    position: absolute;
    width: 80%;
    height: 100%;
}
.filter_left_1
{
	width: 100%;
    font-size: 10px;
    text-align: center;
    line-height: 2;	
}
.filter_left_2
{
    color: #087ac0;
    width: 100%;
    text-align: center;
	
}
.filter_right
{
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0px;	
}
.filter_right img
{
	width: 27px;
    transform: rotate(90deg);
    margin-top: 18px;		
}
.filert ul
{
    position: absolute;
    top: 62px;
    width: 100%;
    list-style: none;	
	display:none;
    z-index: 100;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;    border-top: 5px solid #087ac0;
}
.a
{
    height: 40px;
    line-height: 3;
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
}
.a:hover ,.ab
{
	background-color:#087ac0;
	color:#fff;	
}
.bottom_sec
{
	position:relative;
	width:98%;
	height:717px;	
    margin-top: 27px;
}
.pos_main
{
	position:relative;
	width:100%;
	height:33px;
	background-color:#d5d8db;	
    border-bottom: 5px solid #c5a478;
}
.pos_1,.pos_2,.pos_3,.pos_4,.pos_5,.pos_6,.pos_7
{
	position:relative;	
	display:inline-block;
	text-transform:capitalize;
	color:#000;
    font-size: 14px;
}
.pos_1
{
	width:10%;	
	padding-left:1%;
}
.pos_2
{
	width:20%;	
}
.pos_3
{
	width:20%;	
}
.pos_4
{
	width:10%;	
}
.pos_5
{
	width:10%;	
}
.pos_6
{
	width:10%;	
}
.pos_7
{
	width:10%;	
}
.pos_main_1
{
    background-color: #192853;
    width: 100%;
    height: 100px;
    border: 0px;
    background-image: url(../images/ct-header@x2.jpg);
    background-position: -127% 100%;
    background-size: 112% 100%;
    background-repeat: no-repeat;
}
.pso
{
	color:#001036;
	background-color:#fff;
	border:0px;
	}
.pso1
{
	color:#001036;
	background-color:#eaeef2;
	border:0px;
}
